/// Style for special composition pages

.composition-content{
	.composition-title {
		font-style: italic;
	}
	h1 {
		font-size: 30px;
	}
	h2.cf-instrumentation {
		font-size: 24px;
		font-weight: normal;
		color: $mid-gray;
		margin-top:0px;
	}
	p.more-info-link {
		padding: 10px;
		background-color: $paper;
		border-left: 3px solid $secondary;
	}
}
.composition-title {
	font-style: italic;
}

.cf2-media-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.cf2-media-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

p.score-link {
	font-size:20px;
	margin: 40px 0;
	text-align: center;
	a,a:hover,a:active,a:visited {
		color: #FFFFFF;
		background-color: $primary;
		border-radius: 30px;
		padding:12px;
		width:auto;
	}
	a:hover {
		background-color: $primary-light;
		text-decoration: none;
	}
}
